/* sc-notice */
.sc-notice{
    background-color: #088eff;
    height: 64px;
}
.sc-notice .inner{
    max-width: 1920px;
    box-sizing: border-box;
    /* overflow: hidden; */
}
.sc-notice .wrap{
    position: relative;
    overflow: hidden;
}
.sc-notice .notice-box{
    display: block;
    text-align: right;
    width: 100%;
    height: 44px;
    padding: 10px 114px 10px 98px;

    font-size: 17px;
    line-height: 44px;
    letter-spacing: -0.10px;
    font-weight: bold;
    color: #fff;

    animation: rolling 20s linear infinite;
}
/* 왜 안없어짐..? */

@keyframes rolling {
    0% { transform: translateX(50%);}
    100% {transform: translateX(-100%);}
    
}


.sc-notice .notice-box strong::before{
    content: '';
    background: url(../imges/logo/img_bannerlogo.png) no-repeat;
    vertical-align: middle;

    margin-right: 20px;
    display: inline-block;
    width: 209px;
    height: 27px;
    background-size: 209px 27px;
}

.sc-notice .btn-close{
    background-position: -125px -105px;
    /* background-size: 328px 205px; */
    width: 14px;
    height: 14px;

    position: absolute;
    top:50%;
    right: 10px;
    transform: translateY(-50%);
}
/* .sc-notice .close a{
    display: block;
    width: 100%;
    height: 100%;
} */


/* sc-mainbanner */
.sc-mainbanner{position: relative;}
.sc-mainbanner video{
    width: 100%;
    height: 544px;
    object-fit: cover;
}
.sc-mainbanner .video-box{
    position: relative;
}
.sc-mainbanner .video-txt{
    font-size: 100px;
    letter-spacing: -2.4px;
    font-weight: 800;
    white-space: nowrap;
    color: #fff;
    text-shadow: 6px 6px 18px rgb(0 0 0 / 16%);
    padding: 20px;
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    transition:opacity 0.5s 0.3s;
}

.sc-mainbanner .swiper-slide-active .video-txt{
    opacity: 1;
}


/* search-area 검색영역 */
.search-area{
    /* position: absolute; */
    /* transform: translateY(-50%); */
    z-index: 1;
    position: relative;
    
}
.search-area .search-wrap{
    position: absolute;
    top: -27px;
    left: 104px;
    right: 105px;
    font-size: 0;
    font-family: 'TTHoves', 'NanumSquare', sans-serif;
    /* z-index: 1000; */
    background-color: #fff;
    padding-bottom: 0;
}

.search-area .search-box{
    display: flex;
    background: #fff;
    align-items: center;
    width: 100%;
    height: 54px;
}
.search-area .search-box input{
    border: none;
    width: 65%;
    /* color: #dae8ff; */
    letter-spacing: -1.4px;
    font-weight: 700;
}
.search-area .search-box .search-list{
    display: flex;
    flex: 1;
    /* width: 100%;
    height: 40px; */
}
.search-area .search-list select{
    /* width: 70%; */
    flex: 1;
    color: grey;
}
.search-area .search-list text{
    /* width: 70%; */
    flex: 1;
    color: grey;
}
.search-area .search-list option{
    color: #000;
}
.search-area .search-list .ic-title::before{
    content: '';
    display: inline-block;
    margin: 0 28px 0 21px;
    background-position: -245px -40px;
    width: 18px;
    height: 18px;
}
.search-area .ic-title{
    flex: 1;
    font-weight: 700;
    background-repeat: 9px;
}
.search-area .search-list #crop{
    flex: 1;
}
.search-area .search-list #job{
    flex: 1;
}
/* .search-area .ic-search{
    display: block;
    margin: 0 28px 0 21px;
    background-position: -245px -40px;
    width: 18px;
    height: 18px;
    background-size: 328px 205px;
} */
.search-area select{
    border: none;
}





.search-area .btn-search{
    width: 97px;
    height: 54px;
    line-height: 54px;

    background-color: #000;
    color: #fff;
    font-weight: bold;
}
.search-area .btn-search:hover{
    background-color: #16ef72;
    color: #000;
}




/* main-area */

/* sc-teams */
.container .sc-teams{
    padding-top: 126px;
    padding-bottom: 89px;
    background-color: #fafafa;
}
.container .title-wrap{
    margin-bottom: 70px;
}
.container .main-title{
    font-size: 64px;
    line-height: 71px;
    letter-spacing: -0.64px;
    margin-bottom: 20px;
    /* font-weight: bold; */
}
.container .mid-title{
    display: inline-block;
    vertical-align: middle;
    padding-right: 30px;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.44px;
    font-weight: bold;
}

.link-more{
    /* position: relative; */
    display: inline-block;
    border-bottom: 1px solid;
    vertical-align: top;
    font-size: 14px;
    letter-spacing: -0.36px;
}

.container .team-list{
    margin-top: 70px;

}
.container .team-box{
    display: block;
    width: 100%;
}
.container .team-box:hover{
    background-color: #ebebeb;
}
.container .team-box .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 104px 20px 98px;
}

.container .team-box .item-title{
    width: 50%;
    font-size: 38px;
    letter-spacing: -0.34px;
    display: inline-block;
}
.container .team-box .title{
    display: inline-block;
}
.container .team-box .number{
    position: relative;
    /* margin-top: 13px; */
    margin-left: 18px;
    font-size: 15px;
    letter-spacing: -0.3px;
    
    vertical-align: top;
}
.container .team-box .number::after{
    content: '';
    position: absolute;
    top: -1px;
    right: -14px;
    background-position: -176px -105px;
    /* background-size: 328px 205px; */
    width: 9px;
    height: 9px;
}
.container .team-box .desc{
    width: 50%;

    padding: 20px 0 20px 15px;
    font-size: 22px;
    letter-spacing: -0.44px;
}




/* sc-people */
.sc-people{
    margin-top: 95px;
    /* overflow: hidden; */
}

.container .sc-people .title-wrap{
    margin-bottom: 60px;
}
.sc-people .midslide{
    position: relative;
    padding: 0 0 145px 0;
    overflow: initial;
}
.sc-people .midslide .slide-wrap{
    width: 1097px;
    /* height: 520px; */
}
.sc-people .slide-box{
    /* display: block; */ /* @@@@왜 블럭줬는데 안먹지 */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc-people .slide-box .img-box{
    padding-bottom: 47%;
    position: relative;
}
.sc-people .slide-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;left: 0;
}

/* .inner1 .btn{
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}
.inner1 .btn .prev{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: -224px -172px;
    background-size: 328px 205px;
}
.inner1 .btn .next{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: -113px -172px;
    background-size: 328px 205px;
} */

.box-title{
    font-size: 25px;
    letter-spacing: -0.5px;
    font-weight: bold;
    display: inline-block;
    padding-right: 26px;
}

.sc-people .txt-box{
    margin-top: 29px;
}
.sc-people .txt-box .name-box{
    letter-spacing: -0.28px;
    margin-top: 16px;
}
.sc-people .txt-box .name-box .name{
    margin-left: 6px;
}
.sc-people .name-box .name::before{
    content: '';
    width: 1px;
    height: 10px;
    margin-right: 6px;
    display: inline-block;
    background-color: #000;
}




/* sc-benefits */
.sc-benefits{
    margin-top: 114px;
}

.sc-benefits .slide-wrap2{
    width: 380px;
    padding-bottom: 36px;
}
.sc-benefits .slide-box2{
    width: 100%;
    height: 100%;
}
.sc-benefits .slide-box2 img{
    width: 100%;
    height: 100%;
}

.sc-benefits .lastslide{
    margin-top: 55px;
    margin-bottom: 68px;
}
.sc-benefits .lastslide .txt-box{
    margin-top: 29px;
}
.sc-benefits .txt-box .box-title{
    /* display: inline; */
    font-size: 25px;
    letter-spacing: -0.5px;
    font-weight: bold;
}
.sc-benefits .txt-box .txt-desc{
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.36px;

}


.sc-board{
    padding: 95px 0 102px;
}
.sc-board .board-title{
    font-size: 25px;
    letter-spacing: -0.25px;
}
.sc-board .apply{
    display: inline-block;
    font-size: 18px;
    letter-spacing: -0.36px;
    margin-top: 18px;
}
.sc-board .apply::after{
    content: '';
    display: inline-block;
    margin-left: 11px;
    background-position: -76px -172px;
    /* background-size: 328px 205px; */
    width: 32px;
    height: 32px;
    vertical-align: middle;
}






/* /////////////반응형/////////////// */

@media screen and (max-width: 1100px) {
    /* *1024을 기준으로 화면을 보고 잡아야함 */
    .sc-notice .inner{padding: 0 22px;}
    .sc-benefits .txt-box .txt-desc br{display: none;}
 
}

@media screen and (max-width: 1023px) {
    /* *768을보고 잡아야함 */
    .search-area .search-box{display: none;}
  
}

@media screen and (max-width: 767px) {
    /* *320을 보고 잡아야함 */
  
}